<div class="header-content">
    <a href="index.html"><img src="images/profile_pic.jpg"></a>
    <a href="index.html" class="no-highlight no-decoration">About</a>
    <a href="articles.html" class="menu-item-thoughts no-highlight no-decoration">Thoughts</a>
    <a href="https://github.com/vinay20045?tab=repositories&q=&type=source" class="no-highlight no-decoration" target="_BLANK">Projects</a>
    <a href="Vinay_NP_Resume.html" class="no-highlight no-decoration header-last" target="_BLANK">Resume</a>
</div>