<table class="transparent-table">
    <tr>
        <td class="text-align-left">
            <a href="https://github.com/vinay20045" target="_BLANK"><img src="../images/github_icon.png" class="footer-icon" alt="Vinay NP on Github"></a>
            <a href="https://twitter.com/vinay20045" target="_BLANK"><img src="../images/twitter_icon.png" class="footer-icon" alt="Vinay NP on Twitter"></a>
            <a href="https://www.linkedin.com/in/vinay20045" target="_BLANK"><img src="../images/linkedin_icon.png" class="footer-icon footer-icon-last" alt="Vinay NP on Linkedin"></a>
        </td>
        <td class="hide-on-mobile">&nbsp;</td>
        <td class="text-align-right">
            <span class="footer-text">&copy; 2021 <a href="mailto:vinay@askvinay.com" class="no-highlight">Vinay Kumar NP</a></span>
        </td>
    </tr>
</table>